### You can modify the values but Don't remove these CALDAV_SERVICE_USER_NAME and CALDAV_SERVICE_PASSWORD
CALDAV_SERVICE_USERNAME=
CALDAV_SERVICE_PASSWORD=

### For general basic auth server
# DEFAULT_username=
# DEFAULT_password=

### For Apple
# ICLOUD_username=user@icloud.com
# ICLOUD_password=abcd-efgh-ijkl-mnop


### For Google
# For AUTH_* you don't have to modify usually.

# AUTH_authHost=http://localhost
# AUTH_authPort=3000

# GOOGLE_tokenUrl=https://accounts.google.com/o/oauth2/token
# GOOGLE_username=user@gmail.com
# GOOGLE_clientId=
# GOOGLE_clientSecret=
# GOOGLE_refreshToken=

